
.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 90%;
    max-width: 500px;
}

.button img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.button img:hover {
    transform: scale(1.05);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .button-container {
        gap: 15px;
    }

    .button img {
        border-radius: 8px;
    }
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}